@model PosMvc.OrderItem

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrderItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId, "Order")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ParentId", String.Empty)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderTypeId)
            @Html.ValidationMessageFor(model => model.OrderTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MenuId, "Menu")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MenuId", String.Empty)
            @Html.ValidationMessageFor(model => model.MenuId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId, "Status")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
